@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
    line-height: 1rem;
  font-family: "Roboto", sans-serif;
}

body{
    background-color: rgb(34, 33, 33);
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color:rgb(109, 173, 245);
  background-color: rgba(203, 243, 250, 0.26);
  position: sticky;
  top: 0;
  font-size: 0.8rem;
}
form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
}
.fa-paper-plane{
    padding: 0.5rem ;
    text-align: center;
    font-size: 1.7rem;
    color: rgb(109, 173, 245);
}
.inputSearch {
  padding: 1rem 2rem;
  margin: 0 0.5rem;
  font-family: inherit;
  font-size: 0.8rem;
  color:rgb(167, 166, 166);
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline: none;
}
.btnSearch {
  border: none;
  background: none;
  color: rgb(167, 166, 166);
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.movie {
  margin: 1rem 1rem;
  width: 70%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.movie--all{
    margin: 1rem 1rem;
  max-width: 90%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 50%;
}

.movie__hero {
  flex: 0 0 45%;
}

.movie__img {
  width: 100%;
  display: block;
 
}


.movie__content {
  background-color: rgba(255, 255, 255, 0.11);
  flex: 1;
  
  display: flex;
  flex-direction: column;
}

.movie__title {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  flex-direction: column;
}
.movie__title--all {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    flex-direction: column;
  }

.heading__primary {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  margin-top: 1rem;
  color: rgb(109, 173, 245);
}
.tag {
    padding: 0 0.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.movie__tag {
  font-size: 10px;
  color: #fff;
  padding: 1px 4px;
  border-radius: 7px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  display: block;
  text-transform: uppercase;
}

.movie__tag--1 {
  background-color: #a9c9ff;
}

.movie__tag--2 {
  background-color: #ffbbbb;
}
.movie__tag--3 {
    background-color: #faffbb;
    color: rgb(73, 73, 73);
  }

p {
  font-size: 0.7rem;
  color: darkgrey;

}
.result >i{
    font-size: 2rem;
    color: darkgrey;
    margin: 3rem auto;

}
.movie__description p{
    font-size: 0.5rem;
    padding: 1rem 2rem;
  
}

.movie__details {
    display: flex;
    align-items: center;
    
    padding: 1rem 1.7rem;
    margin: 0.2rem;
    justify-content: space-evenly
    ;
}
.fa-book-open {
    
    font-size: 1.5rem;
    color: rgb(167, 166, 166);
}
.fa-book-open:hover{
    background-color: rgba(249, 249, 249, 0.375);
    padding: 0.3rem;
    border-radius: 50% ;
    transition:padding 0.2s ease-in-out;
}

